
.card-container {
  margin: auto;
  max-width: 400px;
  display: block;
  position: initial;
  padding: 16px;
  border-radius: 4px;
  background: #fff;
  color: rgba(0,0,0,.87);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.card-title {
  margin-right: 5px;
}

.card-title-group {
  margin: 0;
}

img {
  width:70px;
  height :70px;

  margin-left: 5px;
}