@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Container code
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
// Container code end

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

button {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 4px;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 800ms linear;
}

span.dark {
  background-color: rgba(170, 170, 170, 0.356) !important;
}

span.white {
  background-color: rgba(255, 255, 255, 0.24) !important;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}